/*===== GOGGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/*===== VARIABLES SCSS =====*/
/*===== VARIABLES CSS =====*/
/*=== Colores ===*/
body {
  font-family: 'Montserrat';font-size: 22px;
  background-color: #f9f5f2;
}

td {
  border-style: solid;
  border-color: black;
border-width: 0px;
color: black;
padding: 0px;
font-size: 18px;
font-family: 'Montserrat';
text-align: center;
outline: #000;
}

th {
border-width: 0px;
color: black;;
text-align: center;
padding: 0px;
font-size: 15px;
font-family: 'Montserrat';
}

.buttoncalendar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 12px;
  gap: 8px;
  height: 40px;
  width: 100%;
  border: none;
  background: #FF342B;
  border-radius: 20px;
  cursor: pointer;
  margin: auto;

}

.lable {
  line-height: 22px;
  font-size: 17px;
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.buttoncalendar:hover {
  background: #e52e26;
}

.buttoncalendar:hover .svg-icon {
  animation: slope 1s linear infinite;
}

@keyframes slope {
  0% {
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
  }
}

button {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #fff;
 }
 
 button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
 }
 
 button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
 }
 
 button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
 }

.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  width: 12em;
}

.comic-button:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

.comic2-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  width: 12em;
}

.comic2-button:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.comic2-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.btn:link,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: rgb(27, 27, 27);
 padding: 10px 30px;
 border: 1px solid;
 border-radius: 1000px;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

.btn:hover {
 transform: translateY(-5px);
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn:active {
 transform: translateY(-3px);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.btn:hover::after {
 background-color: rgb(0, 238, 255);
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}
.contactButton {
  background: #3cb371;
  color: white;
  font-family: 'Montserrat';
  padding: 0.5em;
  padding-left: 1.2em;
  font-size: 18px;
  font-weight: 600;
  border-radius: 1em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.8em -0.7em #2e8b57;
  overflow: hidden;
  position: relative;
  height: 3em;
  padding-right: 3.5em;
  width: 16em;
}

.cancelButton {
  background: #b35e3c;
  color: white;
  font-family: 'Montserrat';
  padding: 0.5em;
  padding-left: 1.2em;
  font-size: 18px;
  font-weight: 600;
  border-radius: 1em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.8em -0.7em #2e8b57;
  overflow: hidden;
  position: relative;
  height: 3em;
  width: 16em;
  padding-right: 3.5em;
}

.iconButton {
  margin-left: 1.2em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4em;
  width: 2.4em;
  border-radius: 1.2em;
  box-shadow: 0.15em 0.15em 0.8em 0.3em #32cd32;
  right: 0.4em;
  transition: all 0.3s;
}

.iconButton2 {
  margin-left: 1.2em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4em;
  width: 2.4em;
  border-radius: 1.2em;
  box-shadow: 0.15em 0.15em 0.8em 0.3em #cd8a32;
  right: 0.4em;
  transition: all 0.3s;
}
.contactButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.2em 0.2em #228b22;
}

.cancelButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.1em 0.1em #8b5722;
}

.cancelButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.2em 0.2em #8b5f22;
}

.contactButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.1em 0.1em #228b22;
}

:root {
  --first-color: #0396A6;
  --dark-color: #000;
  --white-color: #F2F2F2;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Open Sans', sans-serif;
  --biggest-font-size: 3.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}


#myDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../img/logo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 7rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=== z index ===*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-modal);
}

/*===== NAVBAR =====*/
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    left: 0%;
    top: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 40%;
    padding: 2rem;
    text-align: center;
    z-index: var(--z-fixed);
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.nav__logo {
  color: var(--white-color);
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  color: var(--white-color);
}

.nav__toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}

/*=== Show menu ===*/
.show {
  top: 3rem;
}

/*===== HOME =====*/
.home {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home__parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home__parallax-img1 {
  background-image: url("../img/inicio.jpeg");
  z-index: var(--z-normal);
}

.home__parallax-img2 {
  background-image: url("../img/imgm2.png");
  z-index: var(--z-tooltip);
}

.home__parallax-img3 {
  background-image: url("../img/imgm3.png");
  z-index: var(--z-fixed);
}

.home__parallax-img4 {
  background-image: url("../img/imgm4.png");
  z-index: var(--z-fixed);
}

.home__title, .home__subtitle {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white-color);
}

.home__title {
  top: 32%;
  font-size: var(--biggest-font-size);
  z-index: var(--z-normal);
}

.home__subtitle {
  top: 44%;
  font-size: var(--h2-font-size);
  font-weight: bold;
  z-index: var(--z-tooltip);
}

.home__scroll {
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  z-index: var(--z-modal);
}

.home__scroll .bx-mouse {
  color: var(--white-color);
}

/*===== SECTION =====*/
.l-section {
  /*background-color: var(--dark-color);*/
  background-image: url("../img/papas.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 90% 80%;
}

.l2-section {
  /*background-color: var(--dark-color);*/
  background-image: url("../img/lugar.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 90% 80%;
}

.l3-section {
  /*background-color: var(--dark-color);*/
  background-image: url("../img/padrinos.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 90% 80%;
}

.l4-section {
  /*background-color: var(--dark-color);*/
  background-image: url("../img/detalles.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 90% 80%;
}

.l5-section {
  background-color: #f9f5f2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 90% 80%;
}
.l6-section {
  background-color: #f9f5f2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 90% 80%;
}
.section2 {
  background-color: #f9f5f2;
  height: 100vh;
  max-width: 950px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.textoseccion{
  top: 0;
  height: 60%;
  text-align: center;
  font-family: 'Montserrat';font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-variant: normal;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 16.0pt;
}

.textoseccion3{
  top: 0;
  height: 100%;
  text-align: center;
  font-size: medium;
}
.textoseccion2{
  top: 0;
  height: 40%;
  text-align: center;
  font-family: 'Montserrat';font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-variant: normal;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 16.0pt;
}
.logo-section {
  /*background-color: var(--dark-color);*/
  background-image: url("../img/logo.jpeg");
  background-size: 100% 100%;
}
.section {
  height: 100vh;
  max-width: 950px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem 0;
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__data {
  margin-bottom: 3rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
}

.section__img {
  width: 285px;
  border-radius: .5rem;
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 760px) {
  .nav {
    height: 4rem;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-right: 3rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .home__title {
    top: 27%;
  }
  .home__subtitle {
    top: 50%;
  }
  .section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .section__text {
    padding-right: 4rem;
  }
  .section__img {
    width: 470px;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
